<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AI Text Adventure</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    <div class="container">
        <header>
            <h1 id="home">AI Text Adventure</h1>
            <p>Create your own adventure, powered by AI!</p>
        </header>
        
        <div id="game-box">
            <div id="story">
                <p>Welcome to the AI-powered Text Adventure! You can either give some input for a theme or just submit without any input. Both leads the AI to create 3 different themes you can choose from. All the images created during this adventure are only for visualization, they wont have any influence on your decisions.</p>
            </div>
            <div class="input-container">
                <input type="text" id="player-input" placeholder="Enter your theme here...">
                <button id="voice-record-btn">🎤</button>
            </div>
            <button id="submit-btn">Submit</button>
        </div>

        <div id="option-results" style="display: none;">
            <h2>Select an Option</h2>
            <div id="option-options"></div> <!-- Container für die dynamischen Themen -->
        </div>

        <footer>
            <p>Created by OchOch</p>
        </footer>
    </div>
</body>
</html>